---
import Base from "@layouts/Base.astro";
import GithubCardList from "@components/GithubCardList.astro";
import CenteredBody from "@components/CenteredBody.astro";
---

<Base title="Moxy's Projects">
    <CenteredBody margin="10%">
        <h1>Projects</h1>
        <GithubCardList />
    </CenteredBody>
</Base>
