---
import GithubCard from "@components/GithubCard.astro";

// Define an array of GitHub repository URLs
const repoUrls = [
    "https://github.com/Kons-5/Astro-Github-Cards",
    "https://github.com/Kons-5/Astro-Github-Cards",
    "https://github.com/Kons-5/Astro-Github-Cards",
    "https://github.com/Kons-5/Astro-Github-Cards",
    //(...)
];
---

<div role="list" class="link-card-grid">
    {repoUrls.map((url, index) => <GithubCard key={index} url={url} />)}
</div>

<style>
    div {
        --cols: 3;
        display: grid;
        grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
        gap: 0.75em;
    }

    @media screen and (max-width: 1400px) {
        div {
            --cols: 2;
        }
    }

    @media screen and (max-width: 1000px) {
        div {
            --cols: 1;
        }
    }
</style>
