---
// Astro explodes without the parens
// prettier-ignore
export type Socials = (
    | "Email"
    | "GitHub"
    | "Last.fm"
    | "Reddit"
    | "Spotify"
);

interface Props {
    name: Socials;
}

const { name } = Astro.props;
---

<a class="text-accent">
    {
        name === "Email" && (
            <svg width="20" height="16" viewBox="0 0 20 16">
                <path
                    d="M20 5.15909V14.1818C20 14.6818 19.8251 15.1098 19.4754 15.4659C19.1257 15.822 18.7054 16 18.2143 16H1.78571C1.29464 16 0.874256 15.822 0.524554 15.4659C0.174851 15.1098 0 14.6818 0 14.1818V5.15909C0.327381 5.5303 0.703125 5.85985 1.12723 6.14773C3.82068 8.01136 5.66964 9.31818 6.67411 10.0682C7.09821 10.3864 7.44234 10.6345 7.70647 10.8125C7.97061 10.9905 8.32217 11.1723 8.76116 11.358C9.20015 11.5436 9.60938 11.6364 9.98884 11.6364H10.0112C10.3906 11.6364 10.7999 11.5436 11.2388 11.358C11.6778 11.1723 12.0294 10.9905 12.2935 10.8125C12.5577 10.6345 12.9018 10.3864 13.3259 10.0682C14.5908 9.13636 16.4435 7.82955 18.8839 6.14773C19.308 5.85227 19.6801 5.52273 20 5.15909ZM20 1.81818C20 2.41667 19.8177 2.98864 19.4531 3.53409C19.0885 4.07955 18.6347 4.54545 18.0915 4.93182C15.2939 6.90909 13.5528 8.14015 12.8683 8.625C12.7939 8.67803 12.6358 8.79356 12.394 8.97159C12.1522 9.14962 11.9513 9.29356 11.7913 9.40341C11.6313 9.51326 11.4379 9.63636 11.2109 9.77273C10.984 9.90909 10.7701 10.0114 10.5692 10.0795C10.3683 10.1477 10.1823 10.1818 10.0112 10.1818H9.98884C9.81771 10.1818 9.6317 10.1477 9.4308 10.0795C9.22991 10.0114 9.016 9.90909 8.78906 9.77273C8.56213 9.63636 8.36868 9.51326 8.20871 9.40341C8.04874 9.29356 7.84784 9.14962 7.60603 8.97159C7.36421 8.79356 7.2061 8.67803 7.1317 8.625C6.45461 8.14015 5.47991 7.44886 4.20759 6.55114C2.93527 5.65341 2.17262 5.11364 1.91964 4.93182C1.45833 4.61364 1.02307 4.17614 0.613839 3.61932C0.204613 3.0625 0 2.54545 0 2.06818C0 1.47727 0.15439 0.984849 0.46317 0.590909C0.771949 0.19697 1.2128 0 1.78571 0H18.2143C18.6979 0 19.1164 0.17803 19.4699 0.534091C19.8233 0.890152 20 1.31818 20 1.81818Z"
                    fill="currentColor"
                />
            </svg>
        )
    }
    {
        name === "GitHub" && (
            <svg width="20" height="20" viewBox="0 0 20 20">
                <path
                    d="M10 0C15.525 0 20 4.475 20 10C19.9995 12.0953 19.3419 14.1376 18.1198 15.8395C16.8977 17.5415 15.1727 18.8173 13.1875 19.4875C12.6875 19.5875 12.5 19.275 12.5 19.0125C12.5 18.675 12.5125 17.6 12.5125 16.2625C12.5125 15.325 12.2 14.725 11.8375 14.4125C14.0625 14.1625 16.4 13.3125 16.4 9.475C16.4 8.375 16.0125 7.4875 15.375 6.7875C15.475 6.5375 15.825 5.5125 15.275 4.1375C15.275 4.1375 14.4375 3.8625 12.525 5.1625C11.725 4.9375 10.875 4.825 10.025 4.825C9.175 4.825 8.325 4.9375 7.525 5.1625C5.6125 3.875 4.775 4.1375 4.775 4.1375C4.225 5.5125 4.575 6.5375 4.675 6.7875C4.0375 7.4875 3.65 8.3875 3.65 9.475C3.65 13.3 5.975 14.1625 8.2 14.4125C7.9125 14.6625 7.65 15.1 7.5625 15.75C6.9875 16.0125 5.55 16.4375 4.65 14.925C4.4625 14.625 3.9 13.8875 3.1125 13.9C2.275 13.9125 2.775 14.375 3.125 14.5625C3.55 14.8 4.0375 15.6875 4.15 15.975C4.35 16.5375 5 17.6125 7.5125 17.15C7.5125 17.9875 7.525 18.775 7.525 19.0125C7.525 19.275 7.3375 19.575 6.8375 19.4875C4.8458 18.8245 3.11342 17.5513 1.88611 15.8483C0.658808 14.1453 -0.0011006 12.0991 1.37789e-06 10C1.37789e-06 4.475 4.475 0 10 0Z"
                    fill="currentColor"
                />
            </svg>
        )
    }
    {
        name === "Last.fm" && (
            <svg width="20" height="12" viewBox="0 0 20 12">
                <path
                    d="M8.82031 9.89453L8.08594 7.90234C8.08594 7.90234 6.89453 9.23047 5.10938 9.23047C3.52734 9.23047 2.40625 7.85547 2.40625 5.65625C2.40625 2.83984 3.82812 1.83203 5.22266 1.83203C7.82031 1.83203 8.14453 3.91406 9.16406 7.10156C9.89844 9.32422 11.2734 11.1094 15.2344 11.1094C18.0742 11.1094 20 10.2383 20 7.94922C20 5.10156 17.5508 4.80078 15.5078 4.35156C14.5 4.12109 14.2031 3.71094 14.2031 3.02344C14.2031 2.24609 14.8203 1.78516 15.8281 1.78516C16.9297 1.78516 17.5234 2.19922 17.6133 3.18359L19.9023 2.91016C19.7188 0.847656 18.2969 0 15.9609 0C13.8984 0 11.8828 0.777344 11.8828 3.27734C11.8828 4.83594 12.6406 5.82031 14.5391 6.27734C16.293 6.69141 17.6562 6.81641 17.6562 8.0625C17.6562 8.91016 16.832 9.25391 15.2734 9.25391C12.9609 9.25391 11.9961 8.03906 11.4492 6.36719C10.1992 2.58594 9.74609 0 5.14844 0C1.78516 0 0 2.12891 0 5.75C0 9.23047 1.78516 11.1094 4.99609 11.1094C7.58203 11.1094 8.82031 9.89453 8.82031 9.89453Z"
                    fill="currentColor"
                />
            </svg>
        )
    }
    {
        name === "Reddit" && (
            <svg width="20" height="20" viewBox="0 0 20 20">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10 0C4.47734 0 0 4.47734 0 10C0 12.7617 1.11953 15.2617 2.92891 17.0711L1.02422 18.9758C0.646094 19.3539 0.914063 20 1.44844 20H10C15.5227 20 20 15.5227 20 10C20 4.47734 15.5227 0 10 0ZM13.6563 5.99834C12.868 5.99834 12.2078 5.45068 12.0344 4.71553V4.71709C11.0781 4.85225 10.3406 5.67568 10.3406 6.66787V6.67412C11.8211 6.72959 13.1742 7.14678 14.2461 7.81006C14.6398 7.50693 15.1328 7.32646 15.668 7.32646C16.9578 7.32646 18.0031 8.37178 18.0031 9.66162C18.0031 10.5921 17.4578 11.396 16.6695 11.771C16.5961 14.4843 13.6383 16.6671 10.0047 16.6671C6.37109 16.6671 3.41719 14.4866 3.33984 11.7757C2.54531 11.403 1.99531 10.5968 1.99531 9.66084C1.99531 8.371 3.04062 7.32568 4.33047 7.32568C4.86797 7.32568 5.36328 7.50772 5.75781 7.81318C6.82031 7.15459 8.15859 6.7374 9.62422 6.67568V6.66709C9.62422 5.28193 10.6766 4.13897 12.0242 3.99443C12.1805 3.23584 12.8516 2.66553 13.6563 2.66553C14.5766 2.66553 15.3227 3.41162 15.3227 4.33193C15.3227 5.25225 14.5766 5.99834 13.6563 5.99834Z"
                    fill="currentColor"
                />
                <path
                    d="M5.66406 11.1429C5.70312 10.296 6.26563 9.646 6.91953 9.646C7.57344 9.646 8.07344 10.3327 8.03437 11.1796C7.99531 12.0265 7.50703 12.3343 6.85234 12.3343C6.19766 12.3343 5.625 11.9897 5.66406 11.1429Z"
                    fill="currentColor"
                />
                <path
                    d="M12.3125 13.1022C12.4352 13.1147 12.5133 13.2421 12.4656 13.3562C12.0633 14.3179 11.1133 14.9937 10.0047 14.9937C8.89609 14.9937 7.94687 14.3179 7.54375 13.3562C7.49609 13.2421 7.57422 13.1147 7.69687 13.1022C8.41562 13.0296 9.19297 12.9897 10.0047 12.9897C10.8164 12.9897 11.593 13.0296 12.3125 13.1022Z"
                    fill="currentColor"
                />
                <path
                    d="M13.0906 9.646C13.7453 9.646 14.3078 10.296 14.3461 11.1429C14.3852 11.9897 13.8117 12.3343 13.1578 12.3343C12.5039 12.3343 12.0148 12.0272 11.9758 11.1796C11.9367 10.3327 12.4359 9.646 13.0906 9.646Z"
                    fill="currentColor"
                />
            </svg>
        )
    }
    {
        name === "Spotify" && (
            <svg width="20" height="20" viewBox="0 0 20 20">
                <path
                    d="M10 0C4.47727 0 0 4.47682 0 10C0 15.5232 4.47727 20 10 20C15.5227 20 20 15.5232 20 10C20 4.47682 15.5227 0 10 0ZM14.8788 14.4156C14.7182 14.7 14.4227 14.86 14.1182 14.86C13.9758 14.86 13.8288 14.8244 13.6939 14.7494C12.4455 14.0494 11.0849 13.6206 9.64698 13.475C8.20607 13.3306 6.78333 13.4768 5.41667 13.9132C4.96061 14.0588 4.4697 13.8068 4.32425 13.35C4.17728 12.8924 4.4303 12.4032 4.88788 12.2568C6.48182 11.7476 8.14393 11.5744 9.82272 11.745C11.4985 11.9156 13.0864 12.4156 14.5439 13.2326C14.9636 13.4662 15.1136 13.9962 14.8788 14.4156ZM16.0758 11.3782C15.9212 11.6756 15.6182 11.8462 15.3045 11.8462C15.1682 11.8462 15.0318 11.815 14.903 11.7476C13.3682 10.9482 11.7106 10.4532 9.97272 10.2768C8.2212 10.0976 6.48637 10.2538 4.81364 10.7362C4.35152 10.8674 3.8697 10.6032 3.73789 10.1412C3.60455 9.68 3.87121 9.19818 4.33181 9.065C6.21969 8.52061 8.17727 8.34621 10.1485 8.54621C12.1061 8.74561 13.9758 9.30318 15.7076 10.2056C16.1318 10.4276 16.2985 10.9524 16.0758 11.3782ZM16.5091 8.85121C16.3788 8.85121 16.247 8.82182 16.1212 8.76C14.3 7.85182 12.3409 7.28621 10.297 7.07879C8.24999 6.86939 6.21364 7.03121 4.24242 7.55758C3.77879 7.68061 3.30303 7.40561 3.17879 6.94121C3.05454 6.47742 3.33031 6.00061 3.79546 5.87682C5.9697 5.29621 8.21818 5.11939 10.4742 5.34879C12.7273 5.57682 14.8879 6.20121 16.897 7.20318C17.3273 7.41742 17.5015 7.94 17.2879 8.3694C17.1364 8.675 16.8288 8.85121 16.5091 8.85121Z"
                    fill="currentColor"
                />
            </svg>
        )
    }
</a>
