---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import { DESCRIPTION, TITLE } from "@constants";

interface Props {
    title?: string;
    description?: string;
}

const { title = TITLE, description = DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <div class="navSpacer"></div>
        <slot />
    </body>
</html>
